Die Zielkundschaft ist mindestens 18 Jahre alt und interessiert sich für gute Qualität. Da sie viel beschäftigt oder nicht schleppen wollen, bestellen sie die Waren online bestellen und zu sich nach Hause liefern lassen. 

Simon (35): männlich, hat ein regelmässiges Einkommen, interessiert sich für exotische Biere, Weine und Liköre.
Juan (25): männlich, will seine Alkohol-Einkäufe nicht schleppen und ist froh über den Versand zu ihm nach Hause, möchte ab und zu ein Bier aus seiner Heimat trinken.