#logo{
    width: 100%;
}

#navigation{
    width: 100%;
    list-style: none;
    height: 2em;
    padding: 0;
    border: none;
}

#navigation li{
    float: left;
    margin-right: 0.13em;
    padding-right: 1em;
    padding-left: 1em;
    border: 1px solid black;
    border-bottom: none;
}

#navigation #cart{
    float: right;
}

#products{
    width: 100%;
    padding: 0;
    list-style: none;
}

#products .product{
    width: 100%;
    height: 100px;
    position: relative;
}

#products .product img{
    height: 100%;
    float: left;
    padding-right: 1em;
}

#products .product p{
    
}

#products .product div{
    position: absolute;
    bottom: 0;
}

#footer{
    bottom: 0;
}