#header{
	background-color: red;
	overflow: auto;
}

#header #logo{
	width: 100%;
}

#header #search{
	text-align: center;
	margin-bottom: 5px;
	float: left;
	margin-left: 20px;
}

#header #search .searchBox{
	margin: 0;
	padding: 0;
	height: 20px;
	border: none;
	border: 1px solid black;
	border-right: none;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

#header #search .submitButton{
	margin: 0;
	padding: 0 auto;
	height: 22px;
	text-align: center;
	text-decoration: none;
	border: 1px solid black;
	border-left: none;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

/* Fixes submit button height problem in Firefox */
#header #search .submitButton::-moz-focus-inner {
	border: 0;
}

#header ol#navigation{
	height: 2em;
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	margin: 0 auto;
	float: left;
	margin-left: 20px;
}

#header ol#navigation li {
	background: yellow;
	float: left;
	margin: 0 1px 0 0;
	padding-left: 10px;
}

#header ol#navigation a {
	background: url(tabs.gif) 100% 0;
	color: #008;
	float: left;
	line-height: 2em;
	padding-right: 10px;
	text-decoration: none;
}

#content{
	background-color: yellow;
	overflow: auto;
}

#content #products .product{
	min-width: 200px;
	min-height: 110px;
	margin-right: 1em;
	float: left;
}

#sidebar{
	background-color: blue;
}

#footer{
	background-color: gray;
}
