<div id="basket" class="basket">
	<form class="search-form" >
		<input class="search-field" type="text" 
			value="Suchwort eingeben..." 
			onfocus="if (this.value == 'Suchwort eingeben...')
			{this.value = '';}" onblur="if (this.value == '')
			{this.value = 'Suchwort eingeben...';}"
			onkeyup="showResult(this.value)"/>
		<input class="search-button" type="submit" value="Suchen" />
	</form>
	
	<h1>Ihre Eink&auml;ufe:</h1>
	 <table border="1" style="width:100%">
		@basketItems@
	</table> 
	<a href="?view=@basketLink@" >Zur Kasse</a>
</div>
