<div id="basket" class="basket">
	<form class="search-form" >
		<input class="search-field" type="text" 
			value="@searchHint@" 
			onfocus="if (this.value == '@searchHint@')
			{this.value = '';}" onblur="if (this.value == '')
			{this.value = '@searchHint@';}"
			onkeyup="showResult(this.value)"/>
		<input class="search-button" type="submit" value="@search@" />
	</form>
	
	<h1>@yourPurchases@</h1>
	 <table border="1" style="width:100%">
		@basketItems@
		@basketSum@
	</table>
	@checkoutButton@
</div>
