<div id="content">
	<h2>Register</h2>
	<form name="register" onsubmit="return validateRegisterForm()" action="register.php" method="post">
		username <input type="text" name="username"><br/>
		first name: <input type="text" name="firstName"><br/>
		last name: <input type="text" name="lastName"><br/>
		phone: <input type="text" name="phone"><br/>
		street: <input type="text" name="street"><br/>
		plz: <input type="text" name="plz"><br/>
		city: <input type="text" name="city"><br/>
		password: <input type="password" name="password"><br/>
		repeat: <input type="password" name="password_repeat"><br/>
	</form>
</div>
