<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="css/largeLayout.css">
		<link rel="stylesheet" type="text/css" href="css/smallLayout.css" media="screen and (max-width:745px)">
		<script language="javascript" type="text/javascript" src="./js/scriptscrollListener.js"></script>
		<script language="javascript" type="text/javascript" src="./js/ajax.js"></script>
		<script language="javascript" type="text/javascript" src="./js/form.js"></script>
		<script language="javascript" type="text/javascript" src="./js/validate.js"></script>
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />	
		<title>Beer Wine Liquor</title>
	</head>
	<body class="show-basket">
		<div class="input-blocker" id="input-blocker">
				<div class="alert-pop-up">
					<h1 id="alert-pop-up-title"></h1>
					<p id="alert-pop-up-text"></p>
					<a href="#" onclick="hidePopUpAlert();return false;">@close@</a>
				</div>
				<div class="login-pop-up clearfix">
					<h1>@login@</h1>
					<form id="login" name="login" action="login.php" method="post">
						<input name="username" type="text" size="12" maxlength="12" value="@userNameHint@" 
							onfocus="if (this.value == '@userNameHint@')
							{this.value = '';}" onblur="if (this.value == '')
							{this.value = '@userNameHint@';}" >
						<input name="password" type="password" size="12" maxlength="12">
						<a href="javascript:void(0)" onclick="submitLogin();">@login@</a>
						<a href="javascript:void(0)" onclick="hidePopUpLogin();return false;">@close@</a>
					</form>
				</div>
		</div>
		<div id="wrapper" class="wrapper">
			<div id="header" class="header">
				<a href="index.php">
					<img class="logo-large" src="img/logo_large.png" alt="BWL Logo">
				</a>
			</div>
			<div id="navigation" class="navigation">
				<ul>
					@navItems@
				</ul>
				
				<img class="logo-small" src="img/logo_small.png" alt="BWL Logo">
				<div class="top-of-content"></div>
			</div>
			
			<div id="content" class="content">
				@basket@
				@content@
			</div>
			<div class="push"></div>
		</div>
		<div id="footer" class="footer">
			<p><a href="lang.php?lang=de">DE</a> | <a href="lang.php?lang=en">EN</a> | <a href="lang.php?lang=fr">FR</a></p>
			<p>Copyright &copy; 2014 BWL, Inc.</p>
			<p><a href="mailto:who@cares.com">who@cares.com</a> | +41-55 123 45 67</p>
			<p class="quote">"@quote@"</p>
		</div>
	</body>
</html>
